<section data-ng-controller="<%= classifiedPluralName %>Controller" data-ng-init="toEdit<%= classifiedSingularName %>()">
    <div class="page-header">
        <h1>Edit <%= humanizedSingularName %></h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>

          <formly-form model="<%= camelizedSingularName %>" fields="formFields">
    			</formly-form>

          <hr/>
          <div class="form-group">
              <button type="submit" class="btn btn-success">
                <i class="glyphicon glyphicon-ok"></i> Save
              </button>
              <a class="btn btn-danger" href="/#!/<%= camelizedPluralName %>">
                <i class="glyphicon glyphicon-remove"></i> Cancel
              </a>
          </div>

          <div data-ng-show="error" class="alert alert-danger form-group">
            <strong data-ng-bind="error"></strong>
          </div>

        </form>
    </div>
</section>
