.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* ng-table */

.ng-table {
  width: 100%;
}

.ng-table > thead > tr > th {
  text-align: left;
  border-bottom: 1px solid #c8c8c8;
}

.ng-table > tbody > tr > th, .ng-table > tfoot > tr > th, .ng-table > thead > tr > td, .ng-table > tbody > tr > td, .ng-table > tfoot > tr > td {
  height: 50px;
  border-bottom: 1px solid #e8e8e8;
}

.ng-table-filters {
  height: 60px;
}

.ng-table-filters .filter {
  vertical-align: top;
}

.ng-table > thead > tr > th {
  padding-bottom: 0;
  padding-top: 0;
}

.actions {
  margin-bottom: 30px;
}

.table-actions {
  width: 130px;
}

.ng-table th.filter .input-filter {
  margin: 12px;
  width: 90%;
}


.ng-table-pager {
  margin-top: 20px;
}
